
.App-header {
  background-color: rgb(42, 62, 128);
  height: 80px;
  padding: 30px;
  color: rgb(206, 169, 5);
  border-bottom: 1px solid black;
}

.App-title {
  font-size: 2em;
  position: absolute;
  top: 10px;
}

.App-intro {
  font-size: large;
}

h4 {
  margin-left: 120px;
  color: darkgrey;
}

.map-form {
  background-color: rgb(100, 159, 207);
  width: 450px;
  height: 670px;
  left: 15px;
  top: 40px;
  position: absolute;
  margin-top: 50px;
  border: 1px solid black;
}

.map-instance {
  background-color: white;
  width: 950px;
  height: 670px;
  right: 15px;
  top: 40px;
  position: absolute;
  margin-top: 50px;
  border: 1px solid black;
}