
.App-header {
  background-color: rgb(42, 62, 128);
  height: 80px;
  padding: 30px;
  color: rgb(255, 191, 16);
  border-bottom: 1px solid black;
}

.App-title {
  font-size: 2em;
  position: absolute;
  top: 10px;
}

.App-intro {
  font-size: large;
}

h4 {
  margin-left: 120px;
  color: darkgrey;
}

.map-form {
  background-color: rgb(42, 62, 128);
  width: calc(40vw - 120px);
  height: 90%;
  left: 30px;
  top: -15px;
  position: fixed;
  margin-top: 50px;
  border: 1px solid black;
  z-index: 9999;
}

.map-instance {
  background-color: white;
  width: calc(60vw - 20px);
  height: 900px;
  right: 15px;
  top: 40px;
  position: absolute;
  margin-top: 50px;
  border: 1px solid black;
}

.autocomplete-dropdown-container {
}

.suggestion-item {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}

.suggestion-item--active {
  background-color: #fafafa;
}