

.sidebar {
  background-color: #FFFFFF;
  width: 320px;
  height: 100%;
  left: 0;
  top: -50px;
  position: fixed;
  margin-top: 50px;
  z-index: 9999;
  box-shadow: 4px 0 15px 0 rgba(0,0,0,0.25);
  font-family: "Helvetica Neue";
}

.App-header {
  background: linear-gradient(180deg, #7D4DE7 0%, #4C7DE0 67.99%, #27A0D9 100%);
  padding: 18px;
}

.App-title {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  /*font-size: 2em;
  position: absolute;
  top: 10px;*/
}

.app-description {
  color: #FFFFFF;	
  font-size: 11px;	
  font-weight: 300;	
  line-height: 13px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.App-intro {
  font-size: large;
}

h4 {
  color: darkgrey;
  margin-top: 10px;
}

.autocomplete-dropdown-container {
}

.suggestion-item {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}

.suggestion-item--active {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  background-color: #fafafa;
}

.input-label {
  color: #998BFF;	
  font-size: 11px;	
  line-height: 12px;
  text-transform: uppercase;
  width: 20%;
}

.rectangle {
  display: flex;
  align-items: center;
  height: 29px;	
  width: 284px;	
  border-radius: 2px;	
  background-color: #FFFFFF;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

input {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button {	
  height: 30px;	
  width: 88px;	
  border-radius: 2px;	
  background-color: #FFB249;
  color: #FFFFFF;	
  font-size: 12px;	
  font-weight: bold;	
  line-height: 15px;
  text-transform: uppercase;
  margin: 5px 0;
  align-self: flex-end;
}

.delivery-form {
  display: flex;
  flex-direction: column;
}

.search-input-container {
  position: relative;
}

.search-input,
.search-input:focus,
.search-input:active {
  width: 100%;
  font-size: 16px;
  outline: none;
}

.autocomplete-container {
  position: absolute;
  z-index: 1;
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
}

.suggestion-item {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}

.suggestion-item--active {
  background-color: #fafafa;
}
